<section class="bg-main-theme min-h-160 ">
    <div class=" text-center mt-6 pt-6 ">
        <h1 class="text-secondary text-[40px] font-semibold "> Our Blog</h1>
        <p class="mt-4 text-[18px] text-secondary-light "> Insights, tutorials and tech trends</p>
    </div>

    <div class=" flex justify-center gap-6 pt-8">
        <div class=" min-w-97.25 h-102 bg-main-theme border-1 border-theme-light rounded-3xl shadow-1xl hover:shadow-2xl transition-all duration-300">
            <img src="assets/images/blog image.png" data-aos="fade-up" data-aos-duration="500" class="h-43.25 w-97.25 rounded-2xl">
            <h2 class="mt-4 pl-6 text-[18px] font-medium text-secondary">Top programming skills in 2026</h2>
            <p class="mt-4 pl-6 mb-14 text-secondary-light">Technology is evolving rapidly, and staying<br>
                relevant requires learning the right<br>
                programming skills</p>

            <div class="pl-6">
                <a href="" class="text-primary shadow-2xl">
                    Read More >
                    <iconify-icon icon="common button"></iconify-icon>
                </a>
            </div>

        </div>

        <div class="min-w-97.25 h-102 bg-main-theme border-1 border-theme-light rounded-3xl shadow-1xl hover:shadow-2xl transition-all duration-300">
            <img src="assets/images/uiux image.png" data-aos="fade-up" data-aos-duration="500" class="h-43.25 w-97.25 rounded-2xl">
            <h2 class="mt-4 pl-6 text-[18px] font-medium text-secondary">Why UI/UX matters for Business growth</h2>
            <p class="mt-4 pl-6 mb-14 text-secondary-light">In today’s digital world, users don’t just buy<br>
                products they experience them. A poorly<br>
                designed interface can drive...
            </p>

            <div class="pl-6">
                <a href="" class="text-primary shadow-2xl">
                    Read More >
                    <iconify-icon icon="common button"></iconify-icon>
                </a>
            </div>
        </div>

        <div class="min-w-97.25 h-102 bg-main-theme border-1 border-theme-light rounded-3xl shadow-1xl hover:shadow-2xl transition-all duration-300">
            <img src="assets/images/commerce image.png" data-aos="fade-up" data-aos-duration="500" class="h-43.25 w-97.25 rounded-2xl">
            <h2 class="mt-4 pl-6 text-[18px] font-medium text-secondary">How Data Analysis drives decision <br>making</h2>
            <p class="mt-4 pl-6 mb-8 text-secondary-light">In today’s business environment, decisions<br>
                are no longer based on guesswork. Data<br>
                analysis helps organizations...
            </p>

            <div class="pl-6">
                <a href="" class="text-primary shadow-2xl" >
                    Read More >
                    <iconify-icon icon="common button"></iconify-icon>
                </a>
            </div>

        </div>
    </div>

</section>