<section class="py-20 bg-gray-100">
  <div class="text-center mt-8" data-aos="fade-up">
    <h1 class="text-[40px] font-semibold text-secondary">Choose Your Path</h1>
    <p class="text-xl text-secondary-light pt-4">
      Whether you are looking to build a product or learn new skills, we've got you<br>
      covered.
    </p>
  </div>

  <div class="flex flex-col lg:flex-row justify-center gap-8 px-4 mt-8 pt-8 ">
    <div
      class="bg-white rounded-2xl p-10 gap-3 shadow-lg hover:shadow-2xl border-2 border-theme-light hover:border-primary transition-all duration-300"
      data-aos="fade-up" data-aos-duration="500">
      <div class=" h-16 w-16 flex items-center justify-center bg-theme-light rounded-2xl">
        <iconify-icon icon="ic:baseline-rocket-launch" class="text-3xl text-primary"></iconify-icon>
      </div>
      <h3 class="text-2xl font-semibold pt-4 ">I want to build a product</h3>

      <p class="mt-3 text-secondary font-semibold"> From MVP to enterprise-grade systems. We handle the engineering<br>
        while you focus on growth
      </p>

      <ul class="mt-6 space-y-3">
        <li class="text-secondary-light mt-3 flex items-center gap-3 ">
          <iconify-icon icon="icon-park-solid:check-one" class="text-primary"></iconify-icon> End-to-end product
          development from concept to launch
        </li>

        <li class="text-secondary-light mt-3 flex items-center gap-3 ">
          <iconify-icon icon="icon-park-solid:check-one" class="text-primary"></iconify-icon>Expert team with
          real-world experience
        </li>

        <li class="text-secondary-light mt-3 flex items-center gap-3 ">
          <iconify-icon icon="icon-park-solid:check-one" class="text-primary"></iconify-icon>Scalable solutions built
          with modern technologies
        </li>
      </ul>

      <div class="mt-10">
        <a href=""
          class="bg-primary text-white px-4 py-3.5 rounded-4xl shadow-2xl hover:bg-primary-dark inline-flex justify-center items-center transition-all duration-500">
          Start a Project
        </a>
      </div>

    </div>

    <div
      class="bg-white rounded-2xl p-10 gap-3 shadow-lg hover:shadow-2xl border-2 border-theme-light hover:border-primary transition-all duration-300"
      data-aos="fade-up" data-aos-duration="500">
      <div class="h-16 w-16 flex items-center justify-center bg-theme-light rounded-2xl">
        <iconify-icon icon="material-symbols:school-rounded" class="text-3xl text-secondary"></iconify-icon>
      </div>
      <h3 class="text-2xl pt-4 font-semibold text-secondary"> I want to learn tech skills</h3>
      <p class=" mt-3 text-secondary font-semibold"> Master the tools used by industry leaders. Hands-on training
        from<br>
        senior developers and industry experts.
      </p>

      <ul class="mt-6 space-y-3">
        <li class="text-secondary-light mt-3 flex items-center gap-3 ">
          <iconify-icon icon="icon-park-solid:check-one" class="text-primary"></iconify-icon>Industry-relevant
          curriculum designed by professionals
        </li>
        <li class="text-secondary-light mt-3 flex items-center gap-3 ">
          <iconify-icon icon="icon-park-solid:check-one" class="text-primary"></iconify-icon>Hands-on projects and
          real-world case studies
        </li>
        <li class="text-secondary-light mt-3 flex items-center gap-3 ">
          <iconify-icon icon="icon-park-solid:check-one" class="text-primary"></iconify-icon>Career support and
          mentorship from industry experts
        </li>
      </ul>

      <div class="mt-10">
        <a href=""
          class="bg-secondary text-white px-4 py-3.5 hover:bg-secondary-light rounded-4xl shadow-2xl inline-flex justify-center items-center transition-all duration-500">
          Explore Courses
        </a>
      </div>
    </div>
  </div>
</section>