<section class="max-w-7xl mx-auto py-10">
  <div class="bg-white rounded-[30px] lg:p-10 p-10">
    <div class="flex md:justify-between flex-col md:flex-row max-w-6xl md:mx-auto md:items-end mb-10">
      <div class="gap-6 flex flex-col">
        <h1 class="md:text-[40px] text-[20px] text-secondary font-semibold">
          Featured Projects
        </h1>
        <p class="md:text-lg text-[12px] text-secondary-light font-normal pb-2">
          Real results from our client partnerships
        </p>
      </div>
      <div class="flex items-center gap-1 group">
        <a href="#" class="text-primary text-[16px] lg:ml-20 hover:text-primary-dark">
          View Portfolio
        </a>
        <iconify-icon
          class="text-primary duration-300 group-hover:text-primary-dark transform transition-all group-hover:translate-x-1"
          icon="weui:arrow-outlined" width="12" height="24"></iconify-icon>
      </div>
    </div>

    <!-- Card Section-->
    <div class="flex justify-center items-center">
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-center justify-center max-w-6xl mx-auto gap-8">
        <div
          class="bg-white border border-theme-light rounded-xl cursor-pointer hover:shadow-lg transition-all duration-300 group">
          <div class="overflow-hidden rounded-t-xl h-64 flex items-center justify-center max-w-full">
            <img class="transform w-full h-full transition-transform duration-400 ease-in-out group-hover:scale-105 object-cover"
              src="./public/assets/images/featured-img-1.png" alt="E-Commerce image" />
          </div>

          <div class="p-6">
            <h3 class="font-bold text-[18px] mb-2 text-slate-800">
              E-Commerce Platform
            </h3>
            <p class="text-secondary-light text-[16px] leading-6.5">
              300% increase in online sales within 6 months
            </p>
          </div>

          <div class="px-6 pb-6 flex items-center gap-1 group/link text-primary">
            <a href="#" class="font-medium transition duration-200 group-hover/link:text-primary-dark">
              View Case Study
            </a>
            <iconify-icon
              class="text-primary group-hover/link:text-primary-dark duration-300 transform transition-all group-hover/link:translate-x-1 mt-1"
              icon="weui:arrow-outlined" width="12" height="24"></iconify-icon>
          </div>
        </div>

        <div
          class="bg-white border border-theme-light rounded-xl cursor-pointer hover:shadow-lg transition-all duration-200 group">
          <div class="overflow-hidden rounded-t-xl h-64 flex items-center justify-center max-w-full">
            <img class="transform w-full h-full transition-transform duration-400 ease-in-out group-hover:scale-105 object-cover"
              src="./public/assets/images/featured-img-2.png" alt="FinTech image" />
          </div>

          <div class="p-6">
            <h3 class="font-bold text-[18px] mb-2 text-slate-800">
              FinTech Mobile App
            </h3>
            <p class="text-secondary-light text-[16px] leading-6.5">
              50,000+ downloads in first 3 months
            </p>
          </div>

          <div class="px-6 pb-6 flex items-center gap-1 group/link text-primary">
            <a href="#" class="font-medium transition duration-200 group-hover/link:text-primary-dark">
              View Case Study
            </a>
            <iconify-icon
              class="text-primary group-hover/link:text-primary-dark duration-300 transform transition-all group-hover/link:translate-x-1 mt-1"
              icon="weui:arrow-outlined" width="12" height="24"></iconify-icon>
          </div>
        </div>

        <div
          class="bg-white border border-theme-light rounded-xl cursor-pointer hover:shadow-lg transition-all duration-200 group/card">
          <div class="overflow-hidden rounded-t-xl h-64 flex items-center justify-center max-w-full">
            <img
              class="transform w-full h-full transition-transform ease-in-out group-hover/card:scale-105 duration-400 object-cover"
              src="./public/assets/images/featured-img-3.png" alt="Saas dashboard image" />
          </div>

          <div class="p-6">
            <h3 class="font-bold text-lg mb-2 text-slate-800">
              SaaS Dashboard
            </h3>
            <p class="text-secondary-light text-base leading-6.5">
              Reduced customer support tickets by 60%
            </p>
          </div>

          <div class="px-6 pb-6 flex items-center gap-1 group/link text-primary">
            <a href="#" class="font-medium transition duration-200 group-hover/link:text-primary-dark">
              View Case Study
            </a>
            <iconify-icon
              class="text-primary group-hover/link:text-primary-dark duration-300 transform transition-all group-hover/link:translate-x-1 mt-1"
              icon="weui:arrow-outlined" width="12" height="24"></iconify-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>