<!-- HERO SECTION -->
<section class=" bg-[url('../assets/images/hero-bg.png')] bg-contain bg-repeat ">

    <div class="min-h-full bg-linear-to-b from-white/70 to-primary/85 ">

        <section class="justify-items-center   ">

            <aside class="justify-items-center mt-20 bg-theme-light  rounded-2xl flex gap-8 w-56 p-0.5 ">
                <iconify-icon icon="fluent-emoji-high-contrast:woman-technologist" width="20" height="20"
                    class="text-primary size-0  "></iconify-icon>
                <p class="text-[15px] text-center font-medium ">TECHINCAL EXCELLENCE</p>

            </aside>

            <aside class="w=[64px] text-center mt-10 lg:w-215">

                <h1 class="font-medium text-[30px] lg:text-[68px] ">Build Scalable Products.
                    <span>Learn In-Demand Tech Skill</span>
                </h1>
            </aside>

            <aside class=" w-full text-center mt-5 lg:w-[610.54px]">
                <p class="text-[11px] font-normal  lg:text-[16px]">We design, develop and train,
                    helping business and individual turn ideas into powerfull and digital solution</p>
            </aside>


            <div class="flex gap-3 mt-14 text-center lg:gap-5">
                <aside class="bg-primary w-[168px] rounded-4xl p-4 shadow-1xl shadow-secondary 
                hover:bg-primary-dark hover:shadow-blue-300 transition duration-1000">
                    <button class="text-[18px] text-white">Start a Project</button>
                </aside>

                <aside class="bg-secondary p-4 w-[168px] rounded-4xl shadow-1xl shadow-primary-dark 
                hover:bg-primary-dark hover:shadow-theme-light transition duration-1000">
                    <button class="text-[18px]  text-white ">Explore Courses</button>
                </aside>

            </div>



            <div class=" w-[350px] lg:w-[577px] lg:h-[128px]  flex gap-2.5 mt-9 
             bg-white rounded-[20px] shadow-xl mb-10 lg:mb-17 
             lg:gap-12 lg:py-[24px] lg:p-[64px] py=[ p-[32px] ">

                <aside class=" text-center">
                    <h1 class="lg:text-[40px] text-[25px] text-primary ">500+</h1>
                    <p class="lg:text-[16px] text-[12px] ">Student Trained</p>
                </aside>

                <aside class=" text-center">
                    <h1 class="lg:text-[40px] text-[25px] text-primary  ">100+ </h1>
                    <p class="lg:text-[16px] text-[12px] ">Projects Deliverd</p>
                </aside>

                <aside class="text-center ">
                    <h1 class="lg:text-[40px] text-[25px] text-primary"> 98% </h1>
                    <p class="lg:text-[16px] text-[12px] ">Client Satifaction</p>
                </aside>
            </div>


            <div class=" lg:pb-20 w-[380px] lg:w-[983.68px] lg:h-[618.31px]">
                <img src="./assets/images/hero-section-image.png" alt="">

            </div>


        </section>



    </div>


</section>