<!-- HERO SECTION -->
<section class=" bg-[url('../assets/images/hero-bg.png')] bg-contain bg-repeat ">

    <div class="bg-linear-to-b from-white/70 to-primary/85  ">

        <div class=" flex flex-col gap-16 items-center font-medium">

            <section class="flex flex-col gap-6  ">

                <aside class=" bg-theme-light m-auto rounded-2xl flex gap-8 w-56 p-0.5 ">
                    <iconify-icon icon="fluent-emoji-high-contrast:woman-technologist" width="20" height="20"
                        class="text-primary size-0  "></iconify-icon>
                    <p>TECHINCAL EXCELLENCE</p>
                </aside>

                <aside class="flex flex-col gap-6 ">

                    <h1 class="lg:text-[68px] text-4xl text-center font-semibold leading-tight">Build Scalable Products.
                        <br>
                        Learn In-Demand Tech Skill
                    </h1>

                    <p class="lg:text-xl text-lg text-center text-[16px] font-normal lg:leading-8">We design, develop and train,
                        helping business and individual turn ideas into <br> powerfull and digital solution</p>
                </aside>

                <aside class="flex gap-6 items-center justify-center">
                    <a href="#"
                        class="bg-white text-primary text-base py-4.5 px-6 rounded-4xl shadow-primary-dark 
                hover:bg-primary-dark hover:text-white hover:shadow-theme-light  transition duration-1000">
                        Start a Project
                    </a>

                    <a href="#"
                        class="bg-secondary text-white text-base py-4.5 px-6 rounded-4xl shadow-primary-dark 
                hover:bg-secondary-light  hover:shadow-theme-light  transition duration-1000">
                        Explore Courses
                    </a>
                </aside>


                <div class=" flex lg:gap-6 gap-6 lg:m-auto text-center bg-white rounded-[20px] shadow-xl mx-6 lg:mx-block-0 px-4 py-6 lg:py-6 lg:px-10">

                    <aside>
                        <h1 class="lg:text-[40px] text-[25px] text-primary ">500+</h1>
                        <p >Student Trained</p>
                    </aside>

                    <aside>
                        <h1 class="lg:text-[40px] text-[25px] text-primary  ">100+ </h1>
                        <p >Projects Deliverd</p>
                    </aside>

                    <aside>
                        <h1 class="lg:text-[40px] text-[25px] text-primary"> 98% </h1>
                        <p>Client Satifaction</p>
                    </aside>
                </div>

            </section>

            <section>
                <img src="./assets/images/hero-section-image.png" alt="">
            </section>



        </div>


    </div>


</section>