<section>
    <div class="max-w-6xl mx-auto py-20 text-secondary">
        <aside class="text-center" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="text-[40px] font-semibold">Our Process</h1>
            <p class="text-secondary-light text-lg">
                A proven methodology for delivering exceptional results
            </p>
        </aside>

        <aside class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-y-10 process-card-container mt-16">
            <!-- Discovery -->
            <div class="text-center flex flex-col gap-4.5" data-aos="fade-up" data-aos-duration="1000">
                <section class="flex items-center gap-4 relative designed-line-card overflow-x-hidden">
                    <hr class="border-2 border-dashed border-primary-light grow">
                    <div
                        class="bg-conic from-primary via-primary-light to-primary h-16 w-16 rounded-full flex items-center justify-center drop-shadow-lg">
                        <div
                            class="bg-radial from-primary via-primary to-primary-light/50 h-15 w-15 rounded-full overflow-hidden">
                            <figure
                                class="bg-[url('../assets/images/hero-bg.png')] bg-size-[500%] bg-repeat h-full w-full flex justify-center items-center text-white font-bold text-2xl">
                                1
                            </figure>
                        </div>
                    </div>
                    <hr class="border-2 border-primary-light grow">
                </section>
                <h3 class="text-lg font-semibold px-2">
                    Discovery
                </h3>
                <p class="text-base text-secondary-light px-4">
                    We dive deep into understanding your goals, users, and technical requirements.
                </p>
            </div>
            <!-- Design -->
            <div class="text-center flex flex-col gap-4.5" data-aos="fade-up" data-aos-duration="1000">
                <section class="flex flex-row-reverse md:flex-row items-center gap-4 relative designed-line-card overflow-x-hidden">
                    <hr class="border-2 border-dashed border-primary-light grow">
                    <div
                        class="bg-conic from-primary via-primary-light to-primary h-16 w-16 rounded-full flex items-center justify-center drop-shadow-lg">
                        <div
                            class="bg-radial from-primary via-primary to-primary-light/50 h-15 w-15 rounded-full overflow-hidden">
                            <figure
                                class="bg-[url('../assets/images/hero-bg.png')] bg-size-[500%] bg-repeat h-full w-full flex justify-center items-center text-white font-bold text-2xl">
                                2
                            </figure>
                        </div>
                    </div>
                    <hr class="border-2 border-primary-light grow">
                </section>
                <h3 class="text-lg font-semibold px-2">
                    Design
                </h3>
                <p class="text-base text-secondary-light px-4">
                    Creating intuitive user experiences and stunning interfaces that align with your brand.
                </p>
            </div>
            <!-- Development -->
            <div class="text-center flex flex-col gap-4.5" data-aos="fade-up" data-aos-duration="1000">
                <section class="flex items-center gap-4 relative designed-line-card overflow-x-hidden">
                    <hr class="border-2 border-dashed border-primary-light grow">
                    <div
                        class="bg-conic from-primary via-primary-light to-primary h-16 w-16 rounded-full flex items-center justify-center drop-shadow-lg">
                        <div
                            class="bg-radial from-primary via-primary to-primary-light/50 h-15 w-15 rounded-full overflow-hidden">
                            <figure
                                class="bg-[url('../assets/images/hero-bg.png')] bg-size-[500%] bg-repeat h-full w-full flex justify-center items-center text-white font-bold text-2xl">
                                3
                            </figure>
                        </div>
                    </div>
                    <hr class="border-2 border-primary-light grow">
                </section>
                <h3 class="text-lg font-semibold px-2">
                    Development
                </h3>
                <p class="text-base text-secondary-light px-4">
                    Building scalable, secure solutions using cutting-edge technologies and best practices.
                </p>
            </div>
            <!-- Launch -->
            <div class="text-center flex flex-col gap-4.5" data-aos="fade-up" data-aos-duration="1000">
                <section class="flex items-center flex-row-reverse md:flex-row gap-4 relative designed-line-card overflow-x-hidden">
                    <hr class="border-2 border-dashed border-primary-light grow">
                    <div
                        class="bg-conic from-primary via-primary-light to-primary h-16 w-16 rounded-full flex items-center justify-center drop-shadow-lg">
                        <div
                            class="bg-radial from-primary via-primary to-primary-light/50 h-15 w-15 rounded-full overflow-hidden">
                            <figure
                                class="bg-[url('../assets/images/hero-bg.png')] bg-size-[500%] bg-repeat h-full w-full flex justify-center items-center text-white font-bold text-2xl">
                                4
                            </figure>
                        </div>
                    </div>
                    <hr class="border-2 border-primary-light grow">
                </section>
                <h3 class="text-lg font-semibold px-2">
                    Launch
                </h3>
                <p class="text-base text-secondary-light px-4">
                    Deploying your product and providing ongoing support to ensure continued success.
                </p>
            </div>
        </aside>
    </div>
</section>