<!-- SERVICES SECTION -->
<section class="py-12.5 ">

<div class="text-center ">
<h1 class="text-[40px] font-semibold text-[#0f172a]">Our Services</h1>
<p class="text-gray-500  py-6.25">Comprehensive solutions to bring your digital vision to life</p>
</div>

<div class="  flex justify-center gap-8 h-70.75 w-[1,192px] ">

<div
    class="bg-white p-6 border-[0.8px] h-70.75 rounded-[20px]  hover:shadow-2xl shadow-olive-500 border-gray-300 w-68.5 transition-all-0.5sm">
    <span class="icon-[material-symbols--mobile-3]" style="color: #5715ff;"></span>
    
    <h3 class="font-medium  py-6.75 text-[#0f172a] ">
        Web Development
    </h3>
    <p class="   text-[#4a5565] ">Costom web applications</p>
    <p class="   text-[#4a5565] ">built with modern frameworks</p>
    <p class="   text-[#4a5565] ">like React, Laravel, Next.js,</p>
    <p class="   text-[#4a5565] ">and Node.js</p>

</div>

<div
    class="bg-white p-6 border-[0.8px] h-70.75 rounded-[20px] flow-vertical hover:shadow-2xl shadow-olive-500 border-gray-300 w-68.5 ">
    <h3 class="font-medium  py-6.75 text-[#0f172a]  ">
        Mobile App Development
    </h3>
    <p class="   text-[#4a5565] ">Native and cross-platform</p>
    <p class="   text-[#4a5565] ">mobile app for iOS and</p>
    <p class="   text-[#4a5565] ">Android using React Native</p>
    <p class="   text-[#4a5565] ">and flutter</p>
</div>

<div
    class="bg-white p-6 border-[0.8px] h-70.75 rounded-[20px] flow-vertical hover:shadow-2xl shadow-olive-500 border-gray-300 w-68.5 ">
    <h3 class="font-medium  py-6.75 text-[#0f172a]  ">
        UI/UX Design
    </h3>
    <p class="   text-[#4a5565] ">User-centerd design that</p>
    <p class="   text-[#4a5565] ">conbines aestathetics with</p>
    <p class="   text-[#4a5565] ">functionality for exceptional</p>
    <p class="   text-[#4a5565] ">user experiences</p>
</div>

<div
    class="bg-white p-6 border-[0.8px] h-70.75 rounded-[20px] flow-vertical hover:shadow-2xl shadow-olive-500 border-gray-300 w-68.5 ">
    <h3 class="font-medium  py-6.75 text-[#0f172a]  ">
        Product Consulting
    </h3>

    <p class="   text-[#4a5565] ">Strategic guidience on</p>
    <p class="   text-[#4a5565] ">product strategy, tech stack</p>
    <p class="   text-[#4a5565] ">selection, and scalling your</p>
    <p class="   text-[#4a5565] ">digital products</p>
</div>


</div>
<!-- SERVICES END -->
</section>