
<!---======== what-our-client-says section START==========-->
<section class="max-w-fit max-h-fit absolute  gap-16">
  <div class=" ">
  <div class="  text-center grid lg:grid-cols-1 md:grid-cols-1 sm:grid-cols-1  ">
    <h1 class="font-semibold text-5xl align-middle  text-[#0F172A] p-6">What Our Clients Say</h1>
    <p class="lg:text-[23px] text-[19px] text-[#4A5565]  "> Success stories from businesses and students we've worked with</p>
  </div>

  <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-[32px] p-16 lg:justify-center md:justify-center sm:justify-center justify-around   ">
<div class=" gap-5 w-[389.33px] h-73 rounded-[20px]   bg-[#FFFFFF] p-7.5 border-[0.8px] border-[#E2E8F0] ">
      <div>
    <div class="h-10 max-w-fit px-3  flex rounded-2xl  text-primary" >
       <iconify-icon    icon="vaadin:quote-left"  width="40" height="45" ></iconify-icon>
      </div>
            <div class=" w-[329.33px] p-2.5 h-26">
                <p class=" text-[16px]  text-[#4A5565]">Programmers City transformed our online presence. The e-commerce platform they built exceeded our expectations and the results speak for themselves.</p>
         </div>
         <div class=" flex w-[329.33px] py-4 h-12 ">
             
                <img src="assets/images/client1.png"   class="m-3 h-12.5 w-12.5  rounded-[100px]"   alt="">
        <div class="p-2.5">
                <p class="  text-[16px] w-[329.33px] h-6.5  font-semibold  ">Sarah Johnson</p>
                  <p class= " text-[16px] text-[#4A5565] w-[329.33px]  ">CEO, RetailHub</p>
           </div>
                </div>
           </div>
</div>
<div class=" gap-5 w-[389.33px] h-73 rounded-[20px]  bg-[#FFFFFF] p-7.5 border-[0.8px] border-[#E2E8F0] ">
      <div>
    <div class="h-10 w-[329.33px] px-3 flex rounded-2xl  text-primary" >
       <iconify-icon    icon="vaadin:quote-left" width="40" height="45" ></iconify-icon>
      </div>
            <div class="w-[329.33px] p-2.5 h-26 ">
                <p class=" text-[16px]  text-[#4A5565] ">The training program completely changed my career trajectory. Within 3 months of graduating, I landed a frontend developer role at a top tech company.</p>
         </div>
         <div class=" flex w-[329.33px] py-4 h-12 ">
             
                <img src="assets/images/client2.png"   class=" m-3 h-12.5 w-12.5  rounded-[100px]"   alt="">
            <div class="p-2.5">
                <p class="  text-[16px] w-[329.33px] h-6.5  font-semibold  ">Michael Chen</p>
                  <p class= " text-[16px] text-[#4A5565]  w-[329.33px] h-6.5 ">Frontend Developer, TechCorp</p>
           </div>
                </div>
           </div>
</div>
<div class=" gap-5 w-[389.33px] h-73 rounded-[20px]  bg-[#FFFFFF] p-7.5 border-[0.8px] border-[#E2E8F0] ">
      <div>
    <div class="h-10 w-[329.33px] px-3  flex rounded-2xl  text-primary" >
       <iconify-icon   icon="vaadin:quote-left"  width="40" height="45" ></iconify-icon>
      </div>
            <div class="w-[329.33px] p-2.5 h-26">
                <p class=" text-[16px] text-[#4A5565] ">Their team understood our vision and delivered a mobile app that our users love. The attention to detail and professionalism was outstanding.</p>
         </div>
         <div class="flex w-[329.33px] py-4 h-12 ">
            
            <img src="assets/images/client3.png" class=" m-3 justify-self-end h-12.5 w-12.5  rounded-[100px]"  alt="">
            <div class="p-2.5">
                <p class="  text-[16px] w-[329.33px] h-6.5  font-semibold  ">Adebayo Williams</p>
                  <p class= " text-[#4A5565] text-[16px] w-[329.33px] h-6.5 ">Founder, PaySwift</p>
           </div>
            </div>
           </div>
</div>
</div>

</div>
</section>
<!---======== what-our-client-says section END==========-->
