<!---======== why choose us section ==========-->
<section class="max-h-fit bg-main-theme">
  <div class="max-w-6xl mx-auto py-20 text-secondary">
    <aside class="text-center" data-aos="fade-up" data-aos-duration="1000">
      <h1 class="text-[40px] font-semibold">Why Choose Us</h1>
      <p class="text-secondary-light text-lg">
        what sets us apart in delivering excellence
      </p>
    </aside>

    <div
      class="grid lg:grid-cols-4 py-6 sm:grid-cols-2 md:gap-8 lg:justify-center sm:justify-center items-center justify-around md:mt-6">
      <div class="p-6 gap-4.5 flex flex-col rounded-2xl items-center justify-center" data-aos="fade-up"
        data-aos-duration="1000">
        <div class="h-16 w-16 p-6 items-center flex rounded-2xl justify-center bg-primary/15 text-primary">
          <iconify-icon icon="iconamoon:lightning-1-fill" width="28" height="28"></iconify-icon>
        </div>
        <h1 class="text-lg font-semibold text-center text-secondary">Real-World Experience</h1>
        <p class="text-secondary-light gap-2.5  text-center">
          Our team has delivered 50+ successful projects across various industries</p>
      </div>
      <div class="p-6 gap-4.5 flex flex-col rounded-2xl items-center justify-center" data-aos="fade-up"
        data-aos-duration="1000">
        <div class="h-16 w-16 p-6 items-center flex rounded-2xl justify-center bg-primary/15 text-primary">
          <iconify-icon icon="oi:target" width="28" height="28"></iconify-icon>
        </div>
        <h1 class="text-lg font-semibold text-center text-secondary">Industry-Focused Training</h1>
        <p class="text-secondary-light gap-2.5  text-center">
          Curriculum designed based on the current industry needs and trends</p>
      </div>
      <div class="p-6 gap-4.5 flex flex-col rounded-2xl items-center justify-center" data-aos="fade-up"
        data-aos-duration="1000">
        <div class="h-16 w-16 p-6 items-center flex rounded-2xl justify-center bg-primary/15 text-primary">
          <iconify-icon icon="gridicons:multiple-users" width="28" height="28"></iconify-icon>
        </div>
        <h1 class="text-lg font-semibold text-secondary">Expert Mentors</h1>
        <p class="text-secondary-light gap-2.5  text-center">
          Lean from professionals actively working in top tech companies </p>
      </div>
      <div class="p-6 gap-4.5 flex flex-col rounded-2xl items-center justify-center" data-aos="fade-up"
        data-aos-duration="1000">
        <div class="h-16 w-16 p-6 items-center flex rounded-2xl justify-center bg-primary/15 text-primary">
          <iconify-icon icon="fluent:person-support-24-filled" width="28" height="28"></iconify-icon>
        </div>
        <h1 class="text-lg font-semibold text-center text-secondary">End-to-End Support</h1>
        <p class="text-secondary-light gap-2.5  text-center">
          From initial concept to Post-launch support, we're with you every step</p>
      </div>
    </div>

  </div>
</section>
<!---======== why choose us section End ==========-->