
<!---======== why choose us section ==========-->
<section class="max-w-fit max-h-fit gap-16">
  <div class="  ">
  <div class="text-center grid lg:grid-cols-1 md:grid-cols-1 sm:grid-cols-1   gap-6 ">
    <h1 class="font-semibold text-5xl align-middle  text-[#0F172A] p-6">Why Choose Us</h1>
    <p class="lg:text-[23px] text-[19px] text-[#4A5565]  "> what sets us apart in delivering excellence</p>
  </div>

  <div class="grid lg:grid-cols-4  md:grid-cols-3 sm:grid-cols-2 gap-[32px] p-16 items-center justify-center   ">
<div class=" m-5 flex flex-col w-72 h-63.25 rounded-2xl items-center   bg-[#F8FAFC]  justify-center  ">
  <div class="h-16 w-16 p-6 items-center flex rounded-2xl justify-center bg-primary/15 text-primary" >
     <iconify-icon   icon="iconamoon:lightning-1-fill" width="34" height="34" ></iconify-icon>
       </div>
     <h1 class="font-semibold  text-[18px] gap-2.5 p-4 text-center text-[#0A0A0A]">Real-World Experience</h1>
         <p class="text-[#4A5565] p-2 text-center gap-y-2.5">Our tearm has delivered 50+ <br> successful projects across<br> various industries</p>
</div>
<div class=" m-5 flex flex-col w-72 h-63.25 rounded-2xl items-center   bg-[#F8FAFC]  justify-center ">
    <div class="h-16 w-16 p-6 items-center flex rounded-2xl justify-center bg-primary/15 text-primary" >
       <iconify-icon    icon="oi:target"  width="34" height="34" ></iconify-icon>
      </div>
       <h1 class="font-semibold  text-[18px] gap-2.5 p-4 text-[#0A0A0A] ">Industry-Focused Training</h1>
         <p class="text-[#4A5565] p-2 gap-y-2.5">Curriculum designed based on<br> the current industry needs and<br> trends</p>
</div>
<div class=" m-5 flex flex-col w-72 h-63.25 rounded-2xl items-center   bg-[#F8FAFC]  justify-center  ">
  <div class="h-16 w-16 p-6 items-center flex rounded-2xl justify-center bg-primary/15 text-primary" >
       <iconify-icon icon="gridicons:multiple-users"  width="34" height="34" ></iconify-icon>
</div>
       <h1 class="font-semibold  text-[18px] gap-2.5 p-4 text-[#0A0A0A]">Expact Mentors</h1>
         <p class="text-[#4A5565] p-2 gap-y-2.5">Lean from professionals<br> actively working in top tech<br> companies </p>
</div>
<div class=" m-5 flex flex-col w-72 h-63.25 rounded-2xl items-center   bg-[#F8FAFC]  justify-center  ">
  <div class="h-16 w-16 p-6 items-center flex rounded-2xl justify-center bg-primary/15 text-primary" >
     <iconify-icon icon="fluent:person-support-24-filled"   width="34" height="34" ></iconify-icon>
     </div>  
     <h1 class="font-semibold  text-[18px]  py-4 text-center text-[#0A0A0A]">End-to-End Support</h1>
         <p class="text-[#4A5565] text  text-center">From initial concept to Post-<br>launch support, we're with you <br>every step</p>
</div>
</div>

</div>
</section>
<!---======== why choose us section End ==========-->
