
<!---======== why choose us section ==========-->
<section class="max-w-fit max-h-fit gap-[24px]">
  <div class=" m-10  ">
  <div class="text-center grid lg:grid-cols-1 md:grid-cols-1 sm:grid-cols-1   gap-6 ">
    <h1 class="font-bold text-5xl align-middle  text-secondary p-6">Why Choose Us</h1>
    <p class="lg:text-[23px] text-[19px] text-[secondary "> what sets us apart in delivering excellence</p>
  </div>

  <div class="grid lg:grid-cols-4  py-6  md:grid-cols-3 sm:grid-cols-2  gap-[32px] lg:justify-center md:justify-center sm:justify-center items-center justify-around   ">
<div class=" m-5 p-6 gap[18px] flex flex-col w-72 h-63.25 rounded-2xl items-center   bg-[#F8FAFC]  justify-center  ">
  <div class="h-16 w-16 p-6 items-center flex rounded-2xl justify-center bg-primary/15 text-primary" >
     <iconify-icon   icon="iconamoon:lightning-1-fill" width="34" height="34" ></iconify-icon>
       </div>
     <h1 class="font-bold  text-[18px] gap-2.5 p-4 text-center text-secondary">Real-World Experience</h1>
           <p class="text-secondary-light gap-2.5  text-center">Our tearm has delivered 50+ <br> successful projects across<br> various industries</p>
</div>
<div class=" m-5 p-6 gap[18px] flex flex-col w-72 h-63.25 rounded-2xl items-center   bg-[#F8FAFC]  justify-center  ">
 <div class="h-16 w-16 p-6 items-center flex rounded-2xl justify-center bg-primary/15 text-primary" >       <iconify-icon    icon="oi:target"  width="34" height="34" ></iconify-icon>
      </div>
       <h1 class="font-bold  text-[18px] gap-2.5 p-4 text-center text-secondary">Industry-Focused Training</h1>
           <p class="text-secondary-light gap-2.5  text-center">Curriculum designed based on<br> the current industry needs and<br> trends</p>
</div>
<div class=" m-5 p-6 gap[18px] flex flex-col w-72 h-63.25 rounded-2xl items-center   bg-[#F8FAFC]  justify-center  ">
  <div class="h-16 w-16 p-6 items-center flex rounded-2xl justify-center bg-primary/15 text-primary" >
       <iconify-icon icon="gridicons:multiple-users"  width="34" height="34" ></iconify-icon>
</div>
       <h1 class="font-bold  text-[18px] gap-2.5 p-4 text-secondary">Expact Mentors</h1>
           <p class="text-secondary-light gap-2.5  text-center">Lean from professionals<br> actively working in top tech<br> companies </p>
</div>
<div class="m-5  p-6 gap[18px] flex flex-col w-72 h-63.25 rounded-2xl items-center   bg-[#F8FAFC]  justify-center  ">
  <div class="h-16 w-16 p-6 items-center flex rounded-2xl justify-center bg-primary/15 text-primary" >
     <iconify-icon icon="fluent:person-support-24-filled"   width="34" height="34" ></iconify-icon>
     </div>  
     <h1 class="font-bold  text-[18px]  py-4 text-center text-secondary">End-to-End Support</h1>
         <p class="text-secondary-light gap-2.5  text-center">From initial concept to Post-<br>launch support, we're with you <br>every step</p>
</div>
</div>

</div>
</section>
<!---======== why choose us section End ==========-->
