
<footer class="flex flex-col gap-6">
    <aside class="min-h-32 max-w-6xl mx-auto w-full px-4">
        <section class="bg-linear-to-b from-primary to-primary-dark/85 py-6 px-4 lg:py-24 lg:px-50 rounded-3xl">
            <div class="flex flex-col gap-6 text-white">
                <h1 class="lg:text-[48px] text-4xl text-center font-semibold leading-tight">
                    Ready to Build or Start Your Tech Journey?
                </h1>
                <p class="lg:text-xl text-lg text-center font-normal">
                    Whether you're looking to develop a digital product or launch your tech career,
                    we're here to help you succeed.
                </p>

                <div class="flex gap-6 items-center justify-center">
                    <a href="#"
                        class="bg-white text-primary text-base py-4.5 px-6 rounded-4xl  shadow-primary-dark 
                hover:bg-primary-dark hover:text-white hover:shadow-theme-light  transition duration-1000">
                        Start a Project
                    </a>

                    <a href="#"
                        class="bg-secondary text-white text-base py-4.5 px-6 rounded-4xl  shadow-primary-dark 
                hover:bg-secondary-light  hover:shadow-theme-light  transition duration-1000">
                        Join a Course
                    </a>
                </div>
            </div>
        </section>
    </aside>



    <section class="min-h-32 bg-secondary text-white rounded-[7.5px] py-23.75 px-12.5 flex flex-col gap-8">

        <aside class="flex items-start flex-col lg:flex-row gap-8 ">

            <div class="flex-1 text-3xl lg:text-base leading-8">
                <aside class="flex gap-3 mb-4">
                    <img src="./assets/images/procity-logo-2.png" alt="">
                    <h1 class="font-medium">Programmers City</h1>
                </aside>

                <p class="text-secondary-light text-base">Building digital product and <br> training the next generation
                    of
                    <br>tech professional
                </p>
            </div>

            <div class="flex-1 ">
                <h1 class="mb-4 font-medium">Company</h1>

                <aside class="flex flex-col gap-0.5">

                    <a href="#" class="shadow-1xl shadow-primary-dark hover:text-primary-dark hover:shadow-primary-dark 
                                transition duration-500 text-secondary-light">Home
                    </a>

                    <a href="#" class="shadow-1xl shadow-primary-dark hover:text-primary-dark hover:shadow-primary-dark 
                                transition duration-500 text-secondary-light">Services
                    </a>
                    <a href="#" class="shadow-1xl shadow-primary-dark hover:text-primary-dark hover:shadow-primary-dark 
                                transition duration-500 text-secondary-light">Portfolio
                    </a>

                    <a href="#" class="shadow-1xl shadow-primary-dark hover:text-primary-dark hover:shadow-primary-dark 
                                transition duration-500 text-secondary-light">Blog
                    </a>

                    <a href="#" class="shadow-1xl shadow-primary-dark hover:text-primary-dark hover:shadow-primary-dark 
                                transition duration-500 text-secondary-light">About Us
                    </a>
                </aside>
            </div>

            <div class="flex-1 lg:pr-0 pr-16">
                <h1 class="mb-4 font-medium">Social Links</h1>

                <aside class="flex flex-col gap-0.5">

                    <a href="#" class="shadow-1xl shadow-primary-dark hover:text-primary-dark hover:shadow-primary-dark 
                                transition duration-500 text-secondary-light flex gap-1"><iconify-icon icon="logos:facebook"
                            width="15" height="25"></iconify-icon> Facebook</a>

                    <a href="#" class="shadow-1xl shadow-primary-dark hover:text-primary-dark hover:shadow-primary-dark 
                                transition duration-500 text-secondary-light gap-1"> <iconify-icon icon="codicon:twitter"
                            width="15" height="16" class="text-primary-dark"></iconify-icon>X (Formally Twitter)</a>

                    <a href="#" class="shadow-1xl shadow-primary-dark hover:text-primary-dark hover:shadow-primary-dark 
                                transition duration-500 text-secondary-light"> Linkedln</a>

                    <a href="#" class="shadow-1xl shadow-primary-dark hover:text-primary-dark hover:shadow-primary-dark 
                                transition duration-500 text-secondary-light gap-1"><iconify-icon icon="icomoon-free:youtube"
                            width="16" height="16" class="text-primary-dark text-center"></iconify-icon>YouTube</a>

                </aside>
            </div>


            <div class="flex-1 pr-8 lg:pr-0">
                <h1 class=" mb-2font-medium">Contact</h1>

                <aside class="flex flex-col gap-0.5">

                    <a href="#" class="shadow-1xl shadow-primary-dark hover:text-primary-dark hover:shadow-primary-dark 
                                transition duration-500 text-secondary-light flex gap-1"><iconify-icon icon="fluent:call-12-filled" width="14" height="14"
                            class="text-primary-dark"></iconify-icon>+234 9019 606166</a>

                    <a href="#" class="shadow-1xl shadow-primary-dark hover:text-primary-dark hover:shadow-primary-dark 
                                transition duration-500 text-secondary-light flex gap-1"><iconify-icon icon="formkit:whatsapp" width="16" height="16"
                            class="text-primary-dark"></iconify-icon>+234 8163 875505</a>

                    <a href="#" class="shadow-1xl shadow-primary-dark hover:text-primary-dark hover:shadow-primary-dark 
                                transition duration-500 text-secondary-light flex gap-1"><iconify-icon icon="mdi:email" width="16" height="16"
                            class="text-primary-dark"></iconify-icon>info@programmerscity.com</a>

                    <a href="#" class="shadow-1xl shadow-primary-dark hover:text-primary-dark hover:shadow-primary-dark 
                                transition duration-500 text-secondary-light flex gap-1"><iconify-icon icon="weui:location-filled" width="20" height="20"
                            class="text-primary-dark"></iconify-icon>Whetheral Junction, Owerri, Imo State, Nigeria.</a>
                </aside>
            </div>

        </aside>

        <aside class=" lg:flex flex-row  lg:gap-0 justify-between border-t text-secondary-light border-secondary-light pt-8">
            <h1> @ 2026 Programmers City, All Rights Reserved.</h1>

            <h1 class="flex gap-6">Privacy Policy <p>Terms Of Servicie</p></h1>
        </aside>
    </section>
</footer>
