

<section class="justify-items-center min-h-full bg-linear-to-b from-primary/100 to-primary-dark/85 p-20 m-10
     rounded-3xl mb-6">
    <div>
        <aside>
            <h1 class="text-white text-[180%]  w-[15.5rem] text-center lg:w-[48.5rem] lg:text-[289%]">Ready To Build Or Start Your Tech Journy ?</h1>
            <p class=" text-white text-[70%] w-[15.5rem] text-center pt-1 lg:w-[45.5rem] lg:text-[117%] lg:p-5">Weather You're Looking To Develop Your
                Digital Poduct
                Or Lunch Your Tech Carear, We're Here To Help You Succed.
            </p>
        </aside>
    </div>

    <div class=" grid gap-5 pt-8 text-center lg:flex lg:gap-4 lg:p-6">

        <aside class="bg-primary w-[10.5rem] rounded-4xl p-4 shadow-1xl shadow-secondary 
                hover:bg-primary-dark hover:shadow-blue-300 transition duration-1000">
            <button class="text-[18px] text-white ">Start a Project</button>
        </aside>

        <aside class="bg-secondary p-4 w-[10.5rem] rounded-4xl shadow-1xl shadow-primary-dark 
                hover:bg-primary-dark hover:shadow-secondary transition duration-1000">
            <button class="text-[18px]  text-white ">Join a Course</button>
        </aside>
    </div>



    <div></div>
</section>


<footer class="min-h-32 bg-[#0F172A] text-white">
    
<section class="justify-items-center p-10">
        <div class="lg:hidden">
            <aside class="">
                <div class="w-[] flex gap-2 pb-5">
                    <img src="./assets/images/favicon.png" alt="" class="bg-amber-50 w-[20%]">
                    <h1 class="text-4xl lg:text-0">Programmers City</h1>
                </div>

                <div class="w-[95%] text-[#99A1AF] ">
                    <span>Building digital product and training the next generation of tech
                        professional</span>
                </div>

            </aside>
        </div>
    </section>


    <section>
        

  <div class="justify-items-center p-10  lg:p-20">
        <section class="flex ">

            <aside class="hidden  lg:block">
                <div class="w-[] flex gap-2 pb-5">
                    <img src="./assets/images/favicon.png" alt="" class="bg-amber-50 w-[15%]">
                    <h1">Programmers City</h1>
                </div>

                <div class="w-[91%] text-[#99A1AF]">
                    <span>Building digital product and training the next generation of tech
                        professional</span>
                </div>

            </aside>


            <section class="max-[35rem]: flex flex-wrap gap-12 pl-4 justify-between text-3xl lg:text-[1rem] lg:pr-[30%] lg:flex-nowrap  lg:gap-12">
                <aside>
                    <h1 class="mb-3">Company</h1>
                    <ul class="">
                        <li class="mb-2 shadow-1xl shadow-primary-dark 
                            hover:text-primary-dark hover:shadow-primary-dark transition duration-500 text-[#99A1AF]">Home</li>

                                    <li class="mb-2 shadow-1xl shadow-primary-dark 
                            hover:text-primary-dark hover:shadow-primary-dark transition duration-500 text-[#99A1AF]">Servicies
                                    </li>

                                    <li class="mb-2 shadow-1xl shadow-primary-dark 
                            hover:text-primary-dark hover:shadow-primary-dark transition duration-500 text-[#99A1AF]">Portifilio
                                    </li>

                                    <li class="mb-2 shadow-1xl shadow-primary-dark 
                            hover:text-primary-dark hover:shadow-primary-dark transition duration-500 text-[#99A1AF]">Blog</li>

                                    <li class="mb-2 shadow-1xl shadow-primary-dark 
                            hover:text-primary-dark hover:shadow-primary-dark transition duration-500 text-[#99A1AF]">About Us</li>
                    </ul>
                </aside>


                <aside class="">
                    <h1 class="mb-3">Social Link</h1>
                    <ul>
                        <li class="flex gap-2 mb-2 pr-[1rem]"><iconify-icon icon="logos:facebook" width="15"
                                height="25"></iconify-icon>

                             <span class="shadow-1xl shadow-primary-dark mb-2
                                  hover:text-primary-dark hover:shadow-primary-dark transition duration-500 text-[#99A1AF]"> Facebook
                            </span>
                        </li>

                        <li class="flex justify-items-center text-center w-[10.5rem] gap-2 mb-1.5"><iconify-icon 
                            icon="codicon:twitter" width="15" height="16" class="text-primary-dark"></iconify-icon>
                            <span class="shadow-1xl shadow-primary-dark mb-2
                                  hover:text-primary-dark hover:shadow-primary-dark transition duration-500 text-[#99A1AF]">X (formally Twitter)</span></li>


                        <li class=" flex gap-2 mb-1.5"> <span class="bg-primary-dark  rounded-1xl font-bold text-secondary">in</span>
                           <span class="shadow-1xl shadow-primary-dark mb-2
                                  hover:text-primary-dark hover:shadow-primary-dark transition duration-500 text-[#99A1AF]" > Linkedln</span></li>


                        <li class="mb-1.5"><iconify-icon icon="icomoon-free:youtube" width="16" height="16" class="text-primary-dark text-center"></iconify-icon>
                           <span class="shadow-1xl shadow-primary-dark mb-2
                                  hover:text-primary-dark hover:shadow-primary-dark transition duration-500 text-[#99A1AF]"> You Tube</span></li>
                    </ul>
                </aside>

                <aside class="">
                    <h1 class="mb-4">Contact</h1>
                    <ul >
                        <li><iconify-icon icon="fluent:call-12-filled" width="14" height="14" class="text-primary-dark"></iconify-icon> 
                            <span class="shadow-1xl shadow-primary-dark mb-4
                                  hover:text-primary-dark hover:shadow-primary-dark transition duration-500 text-[#99A1AF]">+234 9019606166</span></li>

                        <li><iconify-icon icon="formkit:whatsapp" width="16" height="16" class="text-primary-dark"></iconify-icon>
                            <span class="shadow-1xl shadow-primary-dark mb-3
                                  hover:text-primary-dark hover:shadow-primary-dark transition duration-500 text-[#99A1AF]">+234 816387875507</span></li>

                        <li class="flex gap-1 text-center"><iconify-icon icon="mdi:email" width="16" height="16" class="text-primary-dark"></iconify-icon>
                            <span class="shadow-1xl shadow-primary-dark mb-3
                                  hover:text-primary-dark hover:shadow-primary-dark transition duration-500 text-[#99A1AF]">info@programmercity.com</span></li>

                        <li><iconify-icon icon="weui:location-filled" width="20" height="20" class="text-primary-dark"></iconify-icon>
                            <span class="shadow-1xl shadow-primary-dark mb-2
                                  hover:text-primary-dark hover:shadow-primary-dark transition duration-500 text-[#99A1AF]">wethral juction owerri, imo state Nigeria</span></li>
                    </ul>
                </aside>
            </section>
        </section>

       
    </div>

      <section class=" text-[#99A1AF] p-0.5 ml-4">_________________________________________________</section>
   
            <section class="pb-10 justify-between  p-6 lg:flex">
                <div>
                    <h1 class="text-[#99A1AF]">
                       @ 2026 Programmers City, All Rights Reserved.
                    </h1>
                </div>


                <div class="flex gap-16 pt-5">
                    <aside class="shadow-1xl shadow-primary-dark mb-2
                                  hover:text-primary-dark hover:shadow-primary-dark transition duration-500 text-[#99A1AF]">
                        <h1>Privacy Policy</h1>
                    </aside>

                    <aside class="shadow-1xl shadow-primary-dark mb-2
                                  hover:text-primary-dark hover:shadow-primary-dark transition duration-500 text-[#99A1AF]"> <p>Terms Of Servicie</p></aside>
                </div>
            </section>
    </section>

</footer>