<!--======= blog detail start ==========-->
<section>
  <div class="flex flex-col max-w-7xl gap-16 mx-auto px-5">
    <a
      href="#"
      class="flex gap-4 w-25.25 h-13 transition-transform duration-100 hover:translate-x-1"
    >
      <div
        class="w-6 h-6 py-4.5 transition-transform duration-100 hover:translate-x-1"
      >
        <iconify-icon
          class="text-primary w-[11.67px] h-[19.8px] justify-center items-center text-primary"
          icon="ic:twotone-less-than"
          width="24"
          height="24"
        ></iconify-icon>
      </div>
      <div><h1 class="text-[24px] text-primary p-2.5 gap-2.5">back</h1></div>
    </a>

    <aside>
      <img
        class="rounded-[30px] w-full h-full"
        src="assets/images/blogp1.jpg"
        alt=""
      />
    </aside>

    <aside class="flex flex-col gap-5 max-w-4xl">
      <div class="max-w-6xl">
        <h1 class="text-[40px] font-semibold text-secondary">
          How to Start a Career in Tech with No Experience
        </h1>
      </div>
      <div>
        <p class="text-[20px] text-secondary-light">
          Breaking into tech can feel overwhelming, especially when you have
          little or no prior experience. You may be wondering where to start,
          what skills to learn, or how to compete with more experienced
          candidates. The good news is that the tech industry is one of the most
          accessible fields today. With the right strategy, consistency, and
          mindset, anyone can build a successful career in tech—even from
          scratch. This guide provides a clear, step-by-step roadmap to help you
          move from beginner to job-ready, without confusion or wasted effort.
        </p>
      </div>
      <div>
        <h1 class="text-[18px] text-secondary font-semibold">
          1. Understand the Different Career Paths in Tech
        </h1>
        <p class="text-secondary-light text-[20px]">
          Before you start learning, you need clarity. “Tech” is a broad field
          with multiple career options, and choosing the right path early will
          save you time and energy.
        </p>
      </div>
      <div class="flex flex-col gap-3">
        <ul>
          <h1 class="text-secondary text-[18px] font-semibold">
            Some popular entry-level paths include:
          </h1>

          <li class="text-[18px] text-secondary-light">
            UI/UX Design: Focuses on designing user-friendly interfaces and
            experiences.
          </li>

          <li class="text-[18px] text-secondary-light">
            Frontend Development: Builds the visual part of websites using HTML,
            CSS, and JavaScript
          </li>
          <li class="text-[18px] text-secondary-light">
            Backend Development: Works on servers, databases, and application
            logic
          </li>
          <li class="text-[18px] text-secondary-light">
            Data Analysis: Interprets data to support business decisions
          </li>
          <li class="text-[18px] text-secondary-light">
            Product Design: Combines UX thinking with business and product
            strategy
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-3 font-semibold">
        <h1 class="text-[18px] text-secondary">What to do:</h1>
        <p class="text-[20px] text-secondary-light">
          Research each path, watch beginner videos, and identify what aligns
          with your interests and strengths.
        </p>
      </div>
      <div>
        <h1 class="text-secondary text-[18px] font-semibold">
          2. Choose One Skill and Focus on It
        </h1>
        <p class="text-secondary-light text-[20px]">
          One common mistake beginners make is trying to learn everything at
          once. This leads to confusion and burnout.
        </p>
        <p class="text-secondary-light text-[20px]">Instead:</p>
        <ul>
          <li class="text-secondary-light text-[20px]">Pick one path</li>
          <li class="text-secondary-light text-[20px]">
            Focus on one core skill
          </li>
          <li class="text-secondary-light text-[20px]">
            Build depth before expanding
          </li>
        </ul>
        <p class="text-secondary-light text-[20px]">For example:</p>
        <ul>
          <li class="text-secondary-light text-[20px]">
            If you choose UI/UX → Start with design principles and tools like
            Figma
          </li>
          <li class="text-secondary-light text-[20px]">
            If you choose programming → Start with HTML, CSS, and JavaScript
          </li>
          <li class="text-secondary-light text-[20px]">
            If you choose data → Start with Excel and basic data analysis
          </li>
        </ul>
        <p class="text-secondary-light text-[20px]">
          Key principle: Focus creates progress.
        </p>
      </div>
    </aside>

    <aside class="flex gap-5.5">
      <div>
        <p class="text-[18px] text-[#99A1AF]">
          Article by Sampson Willson at 8/5/2026 9:30pm
        </p>
      </div>
      <a href="#"
        class="flex gap-1 justify-center items-center transition-transform duration-100 hover:translate-x-1"
      >
        <div class="w-21"><p class="text-primary text-[16px]">Comments</p></div>
        <div class="h-4.5 w-4">
          <iconify-icon
            class="h-4 justify-center items-center text-primary transition-transform duration-100 hover:translate-x-1"
            icon="ic:twotone-greater-than"
            width="17"
          ></iconify-icon>
        </div>
      </a>
    </aside>
    <aside class="flex flex-col gap-6">
      <div>
        <h1 class="text-[18px] text-secondary font-semibold">
          Share this article
        </h1>
      </div>
      <div class="flex gap-9">
        <a href="#">
        <iconify-icon
          class="text-primary"
          icon="formkit:whatsapp"
          width="20"
          height="20"
        ></iconify-icon>
        </a>

                <a href="#">
        <iconify-icon
          class="text-primary"
          icon="logos:facebook"
          width="20"
          height="20"
        ></iconify-icon>
        </a>

          <a href="#">
        <iconify-icon
          class="text-primary"
          icon="prime:twitter"
          width="20"
          height="20"
        ></iconify-icon>
        </a>

        <a href="#">
        <iconify-icon
          class="text-primary"
          icon="skill-icons:linkedin"
          width="20"
          height="20"
        ></iconify-icon>
        </a>
      </div>
    </aside>
    <aside class="flex flex-col gap-16">
      <div class="mx-auto gap-2.5">
        <h1 class="text-[40px] text-secondary font-semibold">
          Related Stories
        </h1>
      </div>
      <div class="flex justify-between flex-col  md:flex-row gap-3">
        <div class="flex-1 min-h-10 rounded-2xl bg-[#FFFFFF] shadow">
          <div>
            <img
              class="w-114.75 rounded-l-2xl rounded-r-2xl"
              src="assets/images/blogR3.jpg"
              alt=""
            />
          </div>
          <div class="flex flex-col gap-3.5  px-5">
            <div>
              <h1 class="text-[24px] text-secondary font-semibold">
                Learn how to design user-friendly digital experiences.
              </h1>
            </div>
            <div>
              <p class="text-[18px] text-secondary-light">
                UI/UX design is one of the fastest-growing tech careers today.
                This beginner-friendly guide explains the basics of interface
                design, user experience, and the tools professionals use.
              </p>
            </div>
            <div
              class="flex flex-row m-3  transition-transform duration-100 hover:translate-x-1"
            >
              <a class="flex gap-1  lg:translate-x-60 " href="#">
                <p class="text-primary text-[16px]">Read more...</p>
                <p class="text-primary text-[16px]">></p>
              </a>
            </div>
          </div>
        </div>

        <div class="flex-1 rounded-2xl bg-[#FFFFFF] shadow">
          <div>
            <img
              class=" rounded-l-2xl rounded-r-2xl"
              src="assets/images/blogR2.jpg"
              alt=""
            />
          </div>
          <div class="flex flex-col gap-3.5  px-5">
            <div class="">
              <h1 class="text-[24px] text-secondary font-semibold">
                Stay ahead in tech with the right skills.
              </h1>
            </div>
            <div>
              <p class="text-[18px] text-secondary-light">
                Technology is constantly evolving, and learning the right
                programming skills can open doors to high-paying opportunities.
              </p>
            </div>
            <div
              class="flex flex-row m-3  transition-transform duration-100 hover:translate-x-1"
            >
              <a class="flex gap-1  lg:translate-x-60  " href="#">
                <p class="text-primary text-[16px]">Read more...</p>
                <p class="text-primary text-[16px]">></p>
              </a>
            </div>
          </div>
        </div>

        <div class="flex-1 rounded-2xl bg-[#FFFFFF] shadow">
          <div>
            <img
              class=" rounded-l-2xl rounded-r-2xl"
              src="assets/images/blogR1.jpg"
              alt=""
            />
          </div>
          <div class="flex flex-col gap-3.5  px-5">
            <div>
              <h1 class="text-[24px] text-secondary font-semibold">
                Frontend vs Backend Development: What Should You Choose?
              </h1>
            </div>
            <div>
              <p class="text-[18px] text-secondary-light">
                Not sure whether to become a frontend or backend developer?
                Learn the responsibilities, tools, and opportunities in both
                fields to help you make the right decision.
              </p>
            </div>
            <div
              class="flex flex-row m-3  transition-transform duration-100 hover:translate-x-1"
            >
              <a class="flex gap-1  lg:translate-x-60 " href="#">
                <p class="text-primary text-[16px]">Read more...</p>
                <p class="text-primary text-[16px]">></p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>
</section>

<!--======= blog detail End ==========-->
