<!---LATEST NEWS STARTS HERE-->
<section class="bg-linear-to-r from-primary to - bg-primary-dark">
    <div class=" max-w-7xl mx-auto py-20 text-center">
        <div class="p-8 text-white">
            <div class="rounded-full bg-white text-secondary inline-block px-6 text-[16px] font-medium">

                BLOG INSIGHTS
            </div>
            <h1 class="pt-4 text-[40px] font-medium">Latest News and Articles</h1>
            <p class="pt-4">Explore our latest articles and industry insights, stay updated with the latest in
                UI/<br>
                UX design, programming, data analysis, and digital innovation
            </p>

            <div class="mt-10">
                <a href=""
                    class="bg-secondary text-white px-6 py-3.5 hover:bg-secondary-light rounded-4xl shadow-2xl justify-center items-center transition-all duration-500">
                    view case studies
                </a>
            </div>
        </div>
    </div>
</section>
<!---LATEST NEWS ENDS HERE-->


<!---TOP PROGRAMMING STARTS HERE-->
<section class="py-10">
    <div class="bg-white max-w-7xl mx-auto flex flex-col gap-6 shadow-2xl rounded-2xl">
        <aside class="grid grid-cols-1 md:grid-cols-5 gap-7.5 ">
            <div class="overflow-hidden md:col-span-2">
                <img src="public/assets/images/software image.png"
                    class="object-cover min-w-full min-h-full rounded-2xl">
            </div>

            <div class="text-left py-2.5 px-2 md:col-span-3">
                <div class="flex items-center justify-center bg-[#DBEAFE] rounded-2xl inline-block px-6 py-2">
                    <p class=" text-[14px] font-medium">Programming</p>
                </div>
                <h2 class="font-medium text-[40px] mt-10">Top Programming Skills in 2026</h2>
                <p class="mt-8 text-2xl text-secondary-light">
                    Technology is evolving fast. Not sure where to start in programming?
                    This guide breaks down frontend and backend development to help
                    you choose the right path.
                </p>

                <div class="flex mt-8 ">
                    <img src="public/assets/images/blog author.png">
                    <div class=" text-[18px] text-secondary-light pl-2 justify-between">
                        <h4 class="text-[16px] font-bold">Williams John</h4>
                        <p class="text-[14px] text-[#99A1AF]">Programmer</p>

                    </div>
                </div>
            </div>
        </aside>

    </div>

    <aside class=" ml-30 py-10">
        <a href=""
            class="bg-primary text-white rounded-3xl shadow-4xl px-3 py-2 hover:bg-primary-dark justify-center items-center transition-all duration-500">
            All stories
        </a>

        <a href=""
            class="bg-[#99A1AF] text-white rounded-3xl shadow-4xl px-3 py-2 hover:bg-primary-dark justify-center items-center transition-all duration-500">
            Technology
        </a>

        <a href=""
            class="bg-[#99A1AF] text-white rounded-3xl shadow-4xl px-3 py-2 hover:bg-primary-dark justify-center items-center transition-all duration-500">
            Career
        </a>

        <a href=""
            class="bg-[#99A1AF] text-white rounded-3xl shadow-4xl px-3 py-2 hover:bg-primary-dark justify-center items-center transition-all duration-500">
            Tutorial
        </a>

    </aside>


</section>
<!---TOP PROGRAMMING ENDS HERE-->


<!---AI RISES  STARTS HERE-->
<section class="py-10 max-w-7xl mx-auto ">
    <div class="flex gap-10">
        <div class="bg-white  w-94.75  rounded-2xl shadow-1xl hover:shadow-2xl transition-all duration-500 ">
            <img src="public/assets/images/robot.png" class="h-49.25 w-94.75 ">
            <div class="flex gap-40 mt-8 text-[14px] font-medium pl-4">
                <p>8 FEBUARY 2026</p>
                <p>25 MIN READ</p>
            </div>
            <h3 class="text-[24px] font-medium mt-8 pl-2">The Rise of AI in Everyday Business</h3>
            <p class="text-[18px] mt-8 pl-2">Artificial Intelligence is no longer the
                future, it’s the present. Discover how
                businesses are using AI to automate
                processes and improve efficiency.
            </p>

            <div class="flex mt-4 pb-4">
                <img src="public/assets/images/georgina.png" class="pl-2">
                <div class=" text-[18px] text-secondary-light pl-2 flex gap-10 items-center">
                    <h4 class="text-[16px] font-bold text-secondary">Gorgia Williams</h4>
                    <p class="text-primary text-[16px] font-medium shadow-2xl pl-2">Read More</p>
                    <img src="public/assets/images/arror right.png" class="h-4 w-4 ">
                </div>
            </div>
        </div>


        <div class="bg-white  w-94.75 rounded-2xl shadow-1xl hover:shadow-2xl transition-all duration-500">
            <img src="public/assets/images/end.png" class="h-49.25 w-94.75 ">
            <div class="flex gap-40 mt-8 text-[14px] font-medium pl-2">
                <p>18 FEBUARY 2026</p>
                <p>25 MIN READ</p>
            </div>
            <h3 class="text-[22px] font-medium mt-8 pl-2">How to Start a Career in Tech with No Experience</h3>
            <p class="text-[18px] mt-8 pl-2">Breaking into tech can feel overwhelming.
                Learn the step-by-step approach to building skills,
                gaining experience, and landing your first opportunity.
            </p>

            <div class="flex mt-4 pb-4">
                <img src="public/assets/images/seline.png" class="pl-2">
                <div class=" text-[18px] text-secondary-light pl-2 flex gap-10 items-center">
                    <h4 class="text-[16px] font-bold text-secondary">Seline Gordon</h4>
                    <p class="text-primary text-[16px] font-medium shadow-2xl pl-2">Read More</p>
                    <img src="public/assets/images/arror right.png" class="h-4 w-4 ">
                </div>
            </div>
        </div>


        <div class="bg-white  w-94.75 rounded-2xl shadow-1xl hover:shadow-2xl transition-all duration-500">
            <img src="public/assets/images/mobile.png" class="h-49.25 w-94.75 ">
            <div class="flex gap-40 mt-8 text-[14px] font-medium pl-4">
                <p>24 JAN 2025</p>
                <p>10 MIN READ</p>
            </div>
            <h3 class="text-[24px] font-medium mt-8 pl-4">Mobile Apps vs Websites: Which One Do You Need?</h3>
            <p class="text-[18px] mt-8 pl-2">Not sure whether to build a mobile app or
                a website? This article helps you
                understand which option fits your goals and audience.
            </p>

            <div class="flex mt-10 pb-4">
                <img src="public/assets/images/femi.png" class="pl-2">
                <div class=" text-[18px] text-secondary-light pl-2 flex gap-10 items-center ">
                    <h4 class="text-[16px] font-bold text-secondary">Femi Adeyinka</h4>
                    <p class="text-primary text-[16px] font-medium shadow-2xl pl-2">Read More</p>
                    <img src="public/assets/images/arror right.png" class="h-4 w-4 ">
                </div>
            </div>

        </div>
    </div>
</section>
<!---AI RISES ENDS HERE-->


<!---BEGINNEERS GUILDE STARTS HERE-->
<section class="py-10 max-w-7xl mx-auto ">
    <div class="flex gap-10">
        <div class="bg-white  w-94.75  rounded-2xl shadow-1xl hover:shadow-2xl transition-all duration-500 ">
            <img src="public/assets/images/data.png" class="h-49.25 w-94.75 ">
            <div class="flex gap-40 mt-8 text-[14px] font-medium pl-4">
                <p>18 AUGUST 2026</p>
                <p>20 MIN READ</p>
            </div>
            <h3 class="text-[24px] font-medium mt-8 pl-2">Beginner’s Guide to Data Analysis</h3>
            <p class="text-[19px] mt-10 pl-2">New to data analysis? This guide
                introduces the tools, skills, and steps you
                need to get started in this high-demand field.
            </p>

            <div class="flex mt-17 pb-4">
                <img src="public/assets/images/dust.png" class="pl-2">
                <div class=" text-[18px] text-secondary-light pl-2 flex gap-10 items-center">
                    <h4 class="text-[16px] font-bold text-secondary">George Dust</h4>
                    <p class="text-primary text-[16px] font-medium shadow-2xl pl-2">Read More</p>
                    <img src="public/assets/images/arror right.png" class="h-4 w-4 ">
                </div>
            </div>
        </div>


        <div class="bg-white  w-94.75 rounded-2xl shadow-1xl hover:shadow-2xl transition-all duration-500">
            <img src="public/assets/images/customer.png" class="h-49.25 w-94.75 ">
            <div class="flex gap-40 mt-8 text-[14px] font-medium pl-2">
                <p>10 JULY 2025</p>
                <p>15 MIN READ</p>
            </div>
            <h3 class="text-[22px] font-medium mt-8 pl-2">5 UX mistakes that is costing your customers</h3>
            <p class="text-[18px] mt-8 pl-2">Many businesses lose potential customers
                due to poor user experience. Discover the most common UX mistakes and how to fix
                them to improve engagement and conversions.
            </p>

            <div class="flex mt-4 pb-4">
                <img src="public/assets/images/ejiro.png" class="pl-2">
                <div class=" text-[18px] text-secondary-light pl-2 flex gap-10 items-center">
                    <h4 class="text-[16px] font-bold text-secondary">Ejiro Destiny</h4>
                    <p class="text-primary text-[16px] font-medium shadow-2xl pl-2">Read More</p>
                    <img src="public/assets/images/arror right.png" class="h-4 w-4 ">
                </div>
            </div>
        </div>


        <div class="bg-white  w-94.75 rounded-2xl shadow-1xl hover:shadow-2xl transition-all duration-500">
            <img src="public/assets/images/mobile.png" class="h-49.25 w-94.75 ">
            <div class="flex gap-40 mt-8 text-[14px] font-medium pl-4">
                <p>4 MARCH 2025</p>
                <p>15 MIN READ</p>
            </div>
            <h3 class="text-[24px] font-medium mt-8 pl-4">Freelancing in Tech: How to Get Your First Client</h3>
            <p class="text-[18px] mt-8 pl-2">Freelancing is one of the fastest ways to
                earn in tech. Discover proven strategies to
                attract clients and build your portfolio.
            </p>

            <div class="flex mt-8 pb-4">
                <img src="public/assets/images/florence.png" class="pl-2">
                <div class=" text-[18px] text-secondary-light pl-2 flex gap-10 items-center ">
                    <h4 class="text-[16px] font-bold text-secondary">Florence Godson</h4>
                    <p class="text-primary text-[16px] font-medium shadow-2xl pl-2">Read More</p>
                    <img src="public/assets/images/arror right.png" class="h-4 w-4 ">
                </div>
            </div>

        </div>
    </div>
</section>
<!---BEGINNEERS GUILDE ENDS HERE-->


<!---CYBERSECURITY STARTS HERE-->
<section class="py-10 max-w-7xl mx-auto">
    <div class="flex gap-10">
        <div class="bg-white  w-94.75  rounded-2xl shadow-1xl hover:shadow-2xl transition-all duration-500 ">
            <img src="public/assets/images/cyber.png" class="h-49.25 w-94.75 ">
            <div class="flex gap-40 mt-8 text-[14px] font-medium pl-4">
                <p>8 FEBUARY 2026</p>
                <p>25 MIN READ</p>
            </div>
            <h3 class="text-[24px] font-medium mt-8 pl-2">Cybersecurity Basics Every Business Should Know</h3>
            <p class="text-[18px] mt-8 pl-2">With increasing cyber threats, security is
                more important than ever. Learn the fundamentals of
                protecting your business online.</p>

            <div class="flex mt-8 pb-4">
                <img src="public/assets/images/ejiro.png" class="pl-2">
                <div class=" text-[18px] text-secondary-light pl-2 flex gap-10 items-center">
                    <h4 class="text-[16px] font-bold text-secondary">Gorgia Williams</h4>
                    <p class="text-primary text-[16px] font-medium shadow-2xl pl-2">Read More</p>
                    <img src="public/assets/images/arror right.png" class="h-4 w-4 ">
                </div>
            </div>
        </div>


        <div
            class=" rounded-2xl flex items-center justify-center shadow-1xl hover:shadow-2xl transition-all duration-500">
            <img src="public/assets/images/news.png">

        </div>


        <div class="bg-white  w-94.75 rounded-2xl shadow-1xl hover:shadow-2xl transition-all duration-500">
            <img src="public/assets/images/remote.png" class="h-49.25 w-94.75 ">
            <div class="flex gap-40 mt-8 text-[14px] font-medium pl-4">
                <p>10 JULY 2025</p>
                <p>15 MIN READ</p>
            </div>
            <h3 class="text-[24px] font-medium mt-8 pl-4">The Future of Remote Work in Tech</h3>
            <p class="text-[18px] mt-8 pl-2">Remote work is reshaping the tech
                industry. Learn how professionals and companies are adapting
                to this new way of working.</p>

            <div class="flex mt-10 pb-4">
                <img src="public/assets/images/ejiro.png" class="pl-2">
                <div class=" text-[18px] text-secondary-light pl-2 flex gap-10 items-center ">
                    <h4 class="text-[16px] font-bold text-secondary">Femi Adeyinka</h4>
                    <p class="text-primary text-[16px] font-medium shadow-2xl pl-2">Read More</p>
                    <img src="public/assets/images/arror right.png" class="h-4 w-4 ">
                </div>
            </div>

        </div>
    </div>

</section>
<!---CYBERSECURITY ENDS HERE-->