<section class="bg-main-theme p-4 md:p-6 lg:p-10">
  <div
    class="bg-white py-10 px-4 md:py-14 md:px-8 lg:py-20 lg:px-24 rounded-xl"
  >
    <div
      class="max-w-6xl mx-auto grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3"
    >
      <div
        class="bg-white border border-theme-light rounded-xl cursor-pointer hover:shadow-lg transition-all duration-300 group"
      >
        <div class="overflow-hidden rounded-t-xl h-52 md:h-56 lg:h-64 w-full">
          <img
            class="w-full h-full object-cover transform transition-transform duration-300 ease-in-out group-hover:scale-105"
            src="./public/assets/images/featured-img-1.png"
            alt="E-Commerce image"
          />
        </div>
        <div class="p-5 md:p-6">
          <h3 class="font-bold text-[17px] md:text-[18px] mb-2 text-slate-800">
            E-Commerce Platform
          </h3>
          <p
            class="text-secondary-light text-[15px] md:text-[16px] leading-relaxed"
          >
            300% increase in online sales within 6 months
          </p>
        </div>
        <div
          class="px-5 pb-5 md:px-6 md:pb-6 flex items-center gap-1 group/link"
        >
          <a
            href="#"
            class="text-primary font-medium transition duration-200 group-hover/link:text-primary-dark"
          >
            View Case Study
          </a>
          <iconify-icon
            class="text-primary hover:text-primary-dark duration-300 group-hover/link:text-primary-dark transform transition-all group-hover/link:translate-x-1"
            icon="weui:arrow-outlined"
            width="12"
            height="24"
          ></iconify-icon>
        </div>
      </div>

      <div
        class="bg-white border border-theme-light rounded-xl cursor-pointer hover:shadow-lg transition-all duration-300 group"
      >
        <div class="overflow-hidden rounded-t-xl h-52 md:h-56 lg:h-64 w-full">
          <img
            class="w-full h-full object-cover transform transition-transform duration-300 ease-in-out group-hover:scale-105"
            src="./public/assets/images/featured-img-2.png"
            alt="E-Commerce image"
          />
        </div>
        <div class="p-5 md:p-6">
          <h3 class="font-bold text-[17px] md:text-[18px] mb-2 text-slate-800">
            E-Commerce Platform
          </h3>
          <p
            class="text-secondary-light text-[15px] md:text-[16px] leading-relaxed"
          >
            300% increase in online sales within 6 months
          </p>
        </div>
        <div
          class="px-5 pb-5 md:px-6 md:pb-6 flex items-center gap-1 group/link"
        >
          <a
            href="#"
            class="text-primary font-medium transition duration-200 group-hover/link:text-primary-dark"
          >
            View Case Study
          </a>
          <iconify-icon
            class="text-primary hover:text-primary-dark duration-300 group-hover/link:text-primary-dark transform transition-all group-hover/link:translate-x-1"
            icon="weui:arrow-outlined"
            width="12"
            height="24"
          ></iconify-icon>
        </div>
      </div>

      <div
        class="bg-white border border-theme-light rounded-xl cursor-pointer hover:shadow-lg transition-all duration-300 group md:col-span-2 lg:col-span-1"
      >
        <div class="overflow-hidden rounded-t-xl h-52 md:h-56 lg:h-64 w-full">
          <img
            class="w-full h-full object-cover transform transition-transform duration-300 ease-in-out group-hover:scale-105"
            src="./public/assets/images/featured-img-3.png"
            alt="E-Commerce image"
          />
        </div>
        <div class="p-5 md:p-6">
          <h3 class="font-bold text-[17px] md:text-[18px] mb-2 text-slate-800">
            E-Commerce Platform
          </h3>
          <p
            class="text-secondary-light text-[15px] md:text-[16px] leading-relaxed"
          >
            300% increase in online sales within 6 months
          </p>
        </div>
        <div
          class="px-5 pb-5 md:px-6 md:pb-6 flex items-center gap-1 group/link"
        >
          <a
            href="#"
            class="text-primary font-medium transition duration-200 group-hover/link:text-primary-dark"
          >
            View Case Study
          </a>
          <iconify-icon
            class="text-primary hover:text-primary-dark duration-300 group-hover/link:text-primary-dark transform transition-all group-hover/link:translate-x-1"
            icon="weui:arrow-outlined"
            width="12"
            height="24"
          ></iconify-icon>
        </div>
      </div>

      <div
        class="flex flex-col md:flex-row rounded-2xl shadow-sm border border-theme-light col-span-1 md:col-span-2 items-stretch overflow-hidden hover:shadow-lg transition-all duration-300 group/large-card"
      >
        <div class="shrink-0 w-full md:w-64 lg:w-80">
          <img
            class="w-full h-56 md:h-full object-cover transform transition-transform duration-300 ease-in-out group-hover/large-card:scale-105"
            src="./public/assets/images/portfolio-img-1.png"
            alt="SwiftPay"
          />
        </div>
        <div class="flex flex-col justify-center gap-3 p-5 md:p-6">
          <div
            class="text-primary bg-primary-light w-fit py-1 px-3.5 rounded-2xl text-sm"
          >
            FINTECH
          </div>
          <h3 class="font-medium text-[20px] md:text-[22px] text-gray-800">
            SwiftPay: High-Throughput Payment Engine
          </h3>
          <p class="text-[14px] md:text-[15px] text-gray-500 leading-relaxed">
            Architecting a resilient, microservices-based ledger system capable
            of processing 10k transactions per second with sub-millisecond
            latency.
          </p>
          <aside
            class="bg-primary-light p-4 md:p-5 rounded-2xl w-full max-w-sm"
          >
            <div class="flex justify-between items-center gap-2 md:gap-4">
              <div class="border-r border-[#ACDBFF] pr-4 md:pr-5">
                <h5 class="font-bold text-xl md:text-2xl text-primary">300%</h5>
                <p class="text-[10px] font-bold text-secondary-light uppercase">
                  Scale Up
                </p>
              </div>
              <div class="border-r border-[#ACDBFF] pr-4 md:pr-5">
                <h5 class="font-bold text-xl md:text-2xl text-primary">
                  99.99%
                </h5>
                <p class="text-[10px] font-bold text-secondary-light uppercase">
                  Uptime
                </p>
              </div>
              <div>
                <h5 class="font-bold text-xl md:text-2xl text-primary">
                  1.2ms
                </h5>
                <p class="text-[10px] font-bold text-secondary-light uppercase">
                  Latency
                </p>
              </div>
            </div>
          </aside>
          <div class="flex items-center gap-1 group/link mt-2">
            <a
              href="#"
              class="text-primary font-medium transition duration-200 group-hover/link:text-primary-dark"
            >
              View Case Study
            </a>
            <iconify-icon
              class="text-primary duration-300 group-hover/link:text-primary-dark transform transition-all group-hover/link:translate-x-1"
              icon="weui:arrow-outlined"
              width="12"
              height="24"
            ></iconify-icon>
          </div>
        </div>
      </div>

      <!-- Call To Action-->
      <div
        class="relative bg-[url('./public/assets/images/portfolio-cta-img.png')] bg-cover bg-center bg-repeat rounded-2xl py-10 px-6 flex items-center justify-center transition-all duration-300 col-span-1 md:col-span-1 lg:col-span-1 min-h-50 overflow-hidden before:absolute before:inset-0 before:bg-linear-to-br before:from-cyan-400 before:via-primary before:to-blue-700 before:opacity-80 before:rounded-2xl"
      >
        <div class="relative z-10 text-center w-full max-w-xs mx-auto">
          <h3 class="font-medium text-xl md:text-2xl text-white">
            Need a Technical Partner?
          </h3>
          <p class="text-sm text-white my-4 md:my-5">
            Let's build your next architectural masterpiece together.
          </p>
          <button
            class="bg-white text-primary py-3 px-6 rounded-full hover:bg-primary-dark hover:text-white transition-colors duration-300"
          >
            Start a Project
          </button>
        </div>
      </div>

      <div
        class="rounded-2xl border border-theme-light shadow-sm  col-span-1 overflow-hidden hover:shadow-lg transition-all duration-300 group"
      >
        <div class="w-full">
          <img
            class="w-full h-48 md:h-52 object-cover transform transition-transform duration-300 ease-in-out group-hover:scale-105"
            src="./public/assets/images/portfolio-img-2.png"
            alt="CloudMatrix IDE"
          />
        </div>
        <div class="p-5 md:p-6">
          <div
            class="text-primary bg-primary-light w-fit py-1 px-3.5 rounded-2xl text-sm mb-3"
          >
            SAAS
          </div>
          <h3 class="font-medium text-lg text-gray-800">CloudMatrix IDE</h3>
          <p class="text-sm text-gray-500 mt-2 leading-relaxed">
            Developing a browser-based collaborative IDE with real-time sync and
            containerized environments.
          </p>
        </div>
        <div
          class="px-5 pb-5 md:px-6 md:pb-6 flex items-center gap-1 group/link"
        >
          <a
            href="#"
            class="text-primary font-medium transition duration-200 group-hover/link:text-primary-dark"
          >
            View Case Study
          </a>
          <iconify-icon
            class="text-primary duration-300 group-hover/link:text-primary-dark transform transition-all group-hover/link:translate-x-1"
            icon="weui:arrow-outlined"
            width="12"
            height="24"
          ></iconify-icon>
        </div>
      </div>

      <div
        class="flex flex-col md:flex-row rounded-2xl shadow-sm border border-theme-light col-span-1 md:col-span-2 items-stretch overflow-hidden hover:shadow-lg transition-all duration-300 group/large-card"
      >
        <div
          class="flex flex-col justify-center gap-4 p-5 md:p-6 flex-1 min-w-0"
        >
          <div
            class="text-primary bg-primary-light w-fit py-1 px-3.5 rounded-2xl text-sm"
          >
            E-COMMERCE
          </div>
          <h3 class="font-semibold text-xl md:text-2xl text-gray-800">
            VogueStore Headless Migration
          </h3>
          <p class="text-sm text-gray-500 leading-relaxed">
            Full migration of a legacy monolithic platform to a headless Next.js
            architecture with Sanity CMS.
          </p>
          <div class="flex gap-3 md:gap-4">
            <div class="bg-primary-light p-3 md:p-4 rounded-lg">
              <h5 class="text-primary text-[22px] md:text-[24px] font-medium">
                2.4s
              </h5>
              <p
                class="text-secondary-light text-[11px] md:text-[12px] font-bold"
              >
                PAGE LOAD TIME
              </p>
            </div>
            <div class="bg-primary-light p-3 md:p-4 rounded-lg">
              <h5 class="text-primary text-[22px] md:text-[24px] font-medium">
                200%
              </h5>
              <p
                class="text-secondary-light text-[11px] md:text-[12px] font-bold"
              >
                CONVERSION RATE
              </p>
            </div>
          </div>
          <div class="flex items-center gap-1 group/link mt-1">
            <a
              href="#"
              class="text-primary font-medium transition duration-200 group-hover/link:text-primary-dark"
            >
              View Case Study
            </a>
            <iconify-icon
              class="text-primary duration-300 group-hover/link:text-primary-dark transform transition-all group-hover/link:translate-x-1"
              icon="weui:arrow-outlined"
              width="12"
              height="24"
            ></iconify-icon>
          </div>
        </div>
        <div class="shrink-0 w-full md:w-64 lg:w-84">
          <img
            class="w-full h-56 md:h-full object-cover transform transition-transform duration-300 ease-in-out group-hover/large-card:scale-105"
            src="./public/assets/images/portfolio-img-3.png"
            alt="VogueStore"
          />
        </div>
      </div>
    </div>
  </div>
</section>
