<section class="p-4 md:p-6 lg:pb-5">
  <div
    class="flex flex-col justify-center items-center text-center rounded-[30px] bg-linear-to-r from-primary to-primary-dark py-20 px-6"
  >
    <aside class="bg-white py-2 px-1 w-40 rounded-[50px]">
      <h4 class="text-[16px] text-secondary">PROJECT PORTFOLIO</h4>
    </aside>
    <aside>
      <h2 class="text-2xl lg:text-[40px] font-medium my-3 text-white">
        Engineering Impact: Case Studies
      </h2>
      <p class="text-xs lg:text-[18px] lg:w-158 font-normal text-primary-light">
        Explore how we solve complex technical challenges through disciplined
        architecture and modern engineering practices.
      </p>
    </aside>
    <aside
      class="mt-10 flex flex-col justify-center md:flex-row items-center gap-3"
    >
      <div class="flex -space-x-4">
        <div>
          <img
            src="./public/assets/images/rating-img-1.png"
            class="h-14 w-14 rounded-full border-4 border-theme-light object-cover"
            alt="rating image"
          />
        </div>
        <div>
          <img
            src="./public/assets/images/rating-img-2.png"
            class="h-14 w-14 rounded-full border-4 border-theme-light object-cover"
            alt="rating image"
          />
        </div>
        <div>
          <img
            src="./public/assets/images/rating-img-3.png"
            class="h-14 w-14 rounded-full border-4 border-theme-light object-cover"
            alt="rating image"
          />
        </div>
      </div>
      <div>
        <span class="text-[18px] text-white">Trusted by</span>
        <span class="text-2xl text-[#7AC0FF]">500+</span>
        <span class="text-[18px] text-white border-r border-[#ACDBFF] pr-4"
          >Customers</span
        >
      </div>
      <div>
        <span class="text-[18px] text-[#ACDBFF]">4.9</span>
      </div>
    </aside>
  </div>
</section>
