@import "tailwindcss";

@theme {
  --color-primary: #0b83de;
  --color-primary-dark: #0d3796;
  --color-primary-light: #bedbff;
  --color-secondary: #0f172a;
  --color-secondary-light: #475569;
  --color-theme-light: #e2e8f0;
  --color-main-theme: #f8fafc;
}

.designed-line-card hr:first-child::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: var(--color-primary-light);
  left: -4px;
  top: 42%;
  transform: rotate(45deg);
}

.designed-line-card hr:last-child::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: var(--color-primary-light);
  right: -4px;
  top: 42%;
  transform: rotate(45deg);
}

@media screen and (min-width: 1200px) {
  .process-card-container
    div:first-child
    section.designed-line-card
    hr:first-child {
    visibility: hidden;
  }

  .process-card-container
    div:last-child
    section.designed-line-card
    hr:last-child {
    visibility: hidden;
  }
}

@media screen and (min-width:768px)  and (max-width:1023px) {
    .process-card-container div:nth-child(odd) section.designed-line-card hr:first-child {
        visibility: hidden;
    }

  .process-card-container
    div:nth-child(even)
    section.designed-line-card
    hr:last-child {
    visibility: hidden;
  }
}

/* .styled-line::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: var(--color-primary-light);
    left: -4px;
    top: 42%;
    transform: rotate(45deg);
} */

/* .style-line-2::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: var(--color-primary-light);
    right: -4px;
    top: 42%;
    transform: rotate(45deg);
} */

.active {
  @apply text-primary border-b-2 border-primary hover:text-shadow-none hover:text-primary-dark transition-all duration-300;
}

.blog-content ul li, .blog-content ol li{
  @apply ml-6;
}

.blog-content ul li{
  @apply list-disc; 
}

.blog-content ol li{
  @apply list-decimal;
}