@import "tailwindcss";

@theme {
  --color-primary: #0b83de;
  --color-primary-dark: #0d3796;
  --color-secondary: #0f172a;
  --color-theme-light: #e2e8f0;
}

.nav-links {
  @apply hover:text-primary transition-all duration-300 hover:underline active:text-primary underline-offset-6;
}
