@import "tailwindcss";

@theme {
    --color-primary: #0B83DE;
    --color-primary-dark: #0D3796;
    --color-secondary: #0F172A;
    --color-secondary-light: #475569;
    --color-theme-light: #E2E8F0;
    --color-main-theme: #F8FAFC;
}