<section class="lg:py-10 lg:pr-5">
  <div class="bg-white lg:rounded-r-[30px] p-2 lg:py-20 lg:px-15">
    <div class="max-w-7xl mx-auto text-center mb-12">
      <h2 class="text-2xl lg:text-3xl font-semibold text-gray-800">
        Our Services
      </h2>
      <p class="text-gray-500 text-[16px] mt-2">
        Comprehensive Solutions to bring your digital vision to life
      </p>
    </div>

    <!-- Cards Section -->
    <div
      class="max-w-7xl mx-auto grid gap-2 lg:gap-6 grid-cols-1 p-5 md:p-5 md:grid-cols-3 lg:grid-cols-4"
    >
      <div
        class="border rounded-2xl p-6 border-theme-light hover:shadow-[0_12px_24px_rgba(0,0,0,0.2)] transition-all duration-300 col-span-3 md:col-span-2 lg:col-span-1"
      >
        <div
          class="w-10 h-10 p-8 flex justify-center items-center bg-blue-200 rounded-lg mb-4"
        >
          <iconify-icon
            class="text-primary"
            icon="ph:code-fill"
            width="34"
            height="34"
          ></iconify-icon>
        </div>
        <h3 class="font-medium text-gray-800">Web Development</h3>
        <p class="text-sm text-gray-500 mt-2">
          Custom web applications built with modern frameworks like React,
          Laravel, Next.js, and Node.js
        </p>
      </div>
      <div
        class="border rounded-2xl p-6 border-theme-light hover:shadow-[0_12px_24px_rgba(0,0,0,0.2)] transition-all duration-300 col-span-3 md:col-span-1 lg:col-span-1"
      >
        <div
          class="w-10 h-10 p-8 flex justify-center items-center bg-blue-200 rounded-lg mb-4"
        >
          <iconify-icon
            class="text-primary"
            icon="fluent:phone-12-filled"
            width="34"
            height="34"
          ></iconify-icon>
        </div>
        <h3 class="font-medium text-gray-800">Mobile App Development</h3>
        <p class="text-sm text-gray-500 mt-2">
          Native and cross-platform mobile apps for iOS and Android using React
          Native and Flutter
        </p>
      </div>
      <div
        class="border rounded-2xl p-6 border-theme-light hover:shadow-[0_12px_24px_rgba(0,0,0,0.2)] transition-all duration-300 col-span-3 md:col-span-1 lg:col-span-1"
      >
        <div
          class="w-10 h-10 p-8 flex justify-center items-center bg-blue-200 rounded-lg mb-4"
        >
          <iconify-icon
            class="text-primary"
            icon="streamline:color-swatches-solid"
            width="24"
            height="24"
          ></iconify-icon>
        </div>
        <h3 class="font-medium text-gray-800">UI/UX Design</h3>
        <p class="text-sm text-gray-500 mt-2">
          User-centered design that combines aesthetics with functionality for
          exceptional user experiences
        </p>
      </div>
      <div
        class="border rounded-2xl p-6 border-theme-light hover:shadow-[0_12px_24px_rgba(0,0,0,0.2)] transition-all duration-300 col-span-3 md:col-span-2 lg:col-span-1"
      >
        <div
          class="w-10 h-10 p-8 flex justify-center items-center bg-blue-200 rounded-lg mb-4"
        >
          <iconify-icon
            class="text-primary"
            icon="iconamoon:file-document-fill"
            width="34"
            height="34"
          ></iconify-icon>
        </div>
        <h3 class="font-medium text-gray-800">Product consulting</h3>
        <p class="text-sm text-gray-500 mt-2">
          Strategic guidance on product strategy, tech stack selection, and
          scaling your digital products
        </p>
      </div>

      <div
        class="flex flex-col md:flex-row rounded-2xl p-6 gap-7.5 shadow-sm border border-theme-light col-span-1 md:col-span-3 lg:col-span-3 justify-between items-center"
      >
        <div
          class="w-full h-full flex flex-col md:flex-col lg:flex-col gap-2 lg:gap-4"
        >
          <div
            class="w-10 h-10 p-8 flex justify-center items-center bg-blue-200 rounded-lg mb-4"
          >
            <iconify-icon
              class="text-primary"
              icon="ph:code-fill"
              width="34"
              height="34"
            ></iconify-icon>
          </div>
          <h3 class="font-medium text-[24px] text-gray-800">
            Full-Stack Web Development
          </h3>
          <p class="text-[16px] text-gray-500 mt-2">
            Architecting robust web ecosystems using React, Node.js, and
            specialized cloud infrastructures. We focus on low-latency, high-
            availability systems for enterprise workflows.
          </p>
          <ul class="flex flex-col mt-4 text-sm gap-2 text-gray-600">
            <li class="text-[14px] font-medium text-secondary">
              <iconify-icon
                class="text-primary"
                icon="mdi:checkbox-marked-circle"
                width="14"
                height="14"
              ></iconify-icon>
              Microservices Architecture
            </li>
            <li class="text-[14px] font-medium text-secondary">
              <iconify-icon
                class="text-primary"
                icon="mdi:checkbox-marked-circle"
                width="14"
                height="14"
              ></iconify-icon>
              Real-time Data Visualization
            </li>
            <li class="text-[14px] font-medium text-secondary">
              <iconify-icon
                class="text-primary"
                icon="mdi:checkbox-marked-circle"
                width="14"
                height="14"
              ></iconify-icon>
              Legacy System Modernization
            </li>
          </ul>
        </div>
        <div class="rounded-xl">
          <img
            class="w-full h-full rounded-[20px]"
            src="../public/assets/images/service-img.png"
            alt=""
          />
        </div>
      </div>

      <div
        class="rounded-2xl p-6 border border-[#e2e8f0] shadow-sm hover:shadow-[0_12px_24px_rgba(0,0,0,0.2)] transition-all duration-300 col-span-3 md:col-span-2 lg:col-span-1"
      >
        <div
          class="w-10 h-10 p-8 flex justify-center items-center bg-blue-200 rounded-lg mb-4"
        >
          <iconify-icon
            class="text-primary"
            icon="iconamoon:file-document-fill"
            width="24"
            height="24"
          ></iconify-icon>
        </div>
        <h3 class="font-medium text-gray-800">3D Modelling</h3>
        <p class="text-sm text-gray-500 mt-2">
          Strategic guidance on product strategy, tech stack selection, and
          scaling your digital products
        </p>
      </div>

      <!-- Repeated card for demonstration -->

      <div
        class="rounded-2xl p-6 border border-[#e2e8f0] shadow-sm hover:shadow-[0_12px_24px_rgba(0,0,0,0.2)] transition-all duration-300 col-span-3 md:col-span-1"
      >
        <div
          class="w-10 h-10 p-8 flex justify-center items-center bg-blue-200 rounded-lg mb-4"
        >
          <iconify-icon
            class="text-primary"
            icon="iconamoon:file-document-fill"
            width="24"
            height="24"
          ></iconify-icon>
        </div>
        <h3 class="font-medium text-gray-800">Architecture</h3>
        <p class="text-sm text-gray-500 mt-2">
          Strategic guidance on product strategy, tech stack selection, and
          scaling your digital products
        </p>
      </div>

      <div
        class="flex flex-col md:flex-row rounded-2xl p-6 shadow-sm border gap-5 border-[#e2e8f0] col-span-3 justify-between items-center"
      >
        <div class="w-full h-full flex flex-col lg:flex-col gap-4">
          <div
            class="w-10 h-10 p-8 flex justify-center items-center bg-blue-200 rounded-lg mb-4"
          >
            <iconify-icon
              class="text-primary"
              icon="fluent:person-support-24-filled"
              width="24"
              height="24"
            ></iconify-icon>
          </div>
          <h3 class="font-semi-bold text-gray-800">Technical Consulting</h3>
          <p class="text-sm text-gray-500 mt-2">
            Strategic guidance for CTOs and Engineering Managers on tech-stack
            selection, scalability bottlenecks, and CI/CD optimization.
          </p>
          <div class="flex gap-4 mt-4">
            <div class="bg-[#D2E0FE4D] p-4 rounded-lg">
              <h5 class="text-primary text-[24px] font-medium">150+</h5>
              <p class="text-secondary text-[12px] font-bold">
                Audits Completed
              </p>
            </div>
            <div class="bg-[#9BABC44D] p-4 rounded-lg">
              <h5 class="text-primary text-[24px] font-medium">99.9%</h5>
              <p class="text-secondary text-[12px] font-bold">Uptime Focus</p>
            </div>
          </div>
        </div>
        <div class="rounded-xl bg-secondary w-full h-full relative">
          <h5
            class="text-[#63707F] text-[12px] leading-[19.5px] opacity-50 align-middle w-70 font-medium pb-21"
          >
            <pre>
  <code>
    // Strategic Architecture Plan 
    const deployPipeline = async (env) => {   
      await validateSecurity(env);   
      await optimizeBundle(env);   
      return await edgeDeployment(env); 
    };
  </code>
</pre>
          </h5>
          <div
            class="border border-[#333c52] p-2 bg-[#272E37] rounded-lg absolute bottom-4 left-36 md:left-45 lg:left-55 w-34"
          >
            <h5 class="text-white text-[14px] font-bold">Cloud Migration</h5>
            <div class="w-20 bg-gray-500 h-1 rounded-full mt-4">
              <div class="bg-primary h-1 rounded-full w-1/1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
