
    <section class="flex flex-col-reverse lg:flex-row max-w-7xl p-3 sm:p-5 md:p-10 lg:p-20 bg-linear-to-r from-primary to bg-primary-dark mx-auto rounded-2xl lg:rounded-[20px] justify-center items-center gap-16">
        <div class="flex flex-col lg:max-w-150 gap-6 text-center md:text-left justify-center items-center md:items-start" data-aos="fade-up" data-aos-duration="1000">
            <div class="bg-white inline-flex gap-2.5 w-fit  rounded-[50px] py-1 px-3 justify-center items-center">
                <div class="flex justify-center items-center">
                    <iconify-icon class="text-primary text-base" icon="fluent-emoji-high-contrast:technologist"></iconify-icon>
                </div>
                <h4 class="text-base font-semibold">OUR SERVICES</h4>
            </div>
            <div class="">
                <h1 class="text-white font-semibold text-3xl lg:text-[40px] leading-tight">
                    Comprehensive Solutions to Bring Your Digital Vision to Life.
                </h1>
            </div>
            <div class="">
                <p class="text-primary-light text-base lg:text-lg leading-normal pr-12">
                    We bridge the gap between complex technical requirements and
                    high-performance user experiences. From enterprise web systems
                    to intuitive mobile applications
                </p>
            </div>

            <div class="w-fit py-3 gap-6 flex items-center justify-center">
                <a href="#">
                    <button class="text-white flex justify-center items-center hover:bg-secondary-light transition-all duration-500 w-47.75 h-14 py-[18.5px] px-6 gap-2.5 bg-secondary rounded-full">View Case Studies</button>
                </a>
            </div>
        </div>

        <div class="flex justify-center items-center" data-aos="fade-up" data-aos-duration="1000">
            <div>
                <img class="object-cover h-102.5 rounded-2xl border-r-4 border-r-blue-300 border-b-4 border-b-blue-300" src="assets/images/hero-banner.png" alt="">
            </div>
        </div>
    
    </section>