
    <section class="flex flex-col-reverse lg:flex-row max-w-348 h-200 p-3 lg:p-0 lg:h-142.5 bg-linear-to-r from-primary to bg-primary-dark mx-auto rounded-2xl lg:rounded-[20px] justify-center items-center gap-16">
        <div class="flex flex-col w-80 lg:w-154.5 h-85.25  gap-6">
            <div class="bg-white w-41.5 flex gap-2.5 h-6.75 rounded-[50px] py-1 px-3 justify-center items-center">
                <div class="h-4 w-4 flex justify-center items-center">
                    <iconify-icon class="text-primary-dark" icon="fluent-emoji-high-contrast:technologist" width="14.5" height="14.25"></iconify-icon>
                </div>
                <h4 class="text-[16px] font-medium">OUR SERVICES</h4>
            </div>
            <div class="">
                <h1 class="text-white font-semibold text-sm lg:text-[40px] leading-tight">
                    Comprehensive Solutions to Bring Your Digital Vision to Life.
                </h1>
            </div>
            <div class=" w-80 lg:w-154.5 h-16.5">
                <p class="text-blue-300 text-sm lg:text-lg leading-tight">
                    We bridge the gap between complex technical requirements and
                    high-performance user experiences. From enterprise web systems
                    to intuitive mobile applications
                </p>
            </div>

            <div class="w-47.75 h-20 py-3 gap-6 flex">
                <a href="#">
                    <button class="text-white flex justify-center items-center hover:bg-gray-600 transition-all duration-1000 w-47.75 h-14 py-[18.5px] px-6 gap-2.5 bg-secondary rounded-full">View Case Studies</button>
                </a>
            </div>
        </div>

        <div>
            <div>
                <img class="w-137.5 object-cover h-102.5 rounded-2xl border-r-4 border-r-blue-300 border-b-4 border-b-blue-300" src="assets/images/hero-banner.png" alt="">
            </div>
        </div>
    
    </section>